<!DOCTYPE html>
<html>
<head>
    <title>Mental Math Challenge</title>
    <link href="static/style.css" rel="stylesheet">
</head>
<body class="background1">
    <div class="center">
        <form method="POST">
            <h2>Mental Math Challenge</h2>
            <h3>Settings</h3>
            <p>Enter a time in seconds between 10 and 300. The default is 60 seconds.</p>
            <label style="font-weight:bold">Duration:</label>
            <input name="time" autocomplete="off">
            <p>Choose a mode. The default is addition.</p>
            <label style="font-weight:bold">Mode:</label>
            <br><br>
            <input type="radio" name="mode" value="+">
            <label>Addition</label><br>
            <input type="radio" name="mode" value="-">
            <label>Subtraction</label><br>
            <input type="radio" name="mode" value="*">
            <label>Multiplication</label><br>
            <input type="radio" name="mode" value="/">
            <label>Division</label><br>
            <p>Enter a minimum and maximum value (values must be between -100000 and 100000, and the minimum must be less than the maximum). The defaults are 0 and 100.</p>
            <label style="font-weight:bold">Min Value:</label>
            <input name="min" autocomplete="off">
            <br>
            <br>
            <label style="font-weight:bold">Max Value:</label>
            <input name="max" autocomplete="off">
            <p>Hit enter or click submit to confirm your settings</p>
            <input type="submit">
        </form>
        <br>
        <hr>
        <div>
            <p>Ready to go? You'll have [ <nobr>{{ time }}</nobr> ] seconds to solve as many [ <nobr>{{ mode }}</nobr> ] problems as you can. Values will be between [ <nobr>{{ minimum }}</nobr> ] and [ <nobr>{{ maximum }}</nobr> ].</p>
        </div>
        <a href='{{ url }}'>Start</a>
        <br><br>
    </div>
    <br><br>
    <p style="color:rgba(0,0,0,0);">Raymond W</p>
</body>
</html>